{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="recent-articles col-m-4 col-4">
        {% for post in articles %}
            <div class="article-block">
                {% with post=post.specific %}
                    {% image post.post_image original as post_image %}
                    <section class="article {% cycle 'article-left' 'article-right' %} col-m-10 col-10">
                        <div class="article-content top">
                            <a href="{% pageurl post %}"><img src="{{ post_image.url }}" class="article-image"></a>
                            <h2 class="article-headline"><a href="{% pageurl post %}">{{ post.headline }}</a></h2>
                            <div class="article-meta">
                                <h5 class="article-author">&nbsp;{{post.author}}&nbsp;</h5>
                                <h5 class="article-postdate">&nbsp;{{post.date}}&nbsp;</h5>
                            </div>    
                        </div>
                    </section>
                {% endwith %}
            </div>
        {% endfor %}
    </div>
{% endblock %}