{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content %}
<div class="view-wrap">
    {% if form.errors %}
    <div class="form-msgs error--">
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %} {% if next %} {% if user.is_authenticated %}
        <div class="form-msgs unauth--">
            <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
            {% else %}
            <div class="form-msgs default--">
                <p>Please login to see this page.</p>
            </div>
            {% endif %} {% endif %}
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>

                <input type="submit" value="Login" id="form-btn" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>

        {% endblock %}