{% extends "base.html" %}

{% block body_class %}template-404{% endblock %}

{% block content %}
    <h1>Oops! Unauthorized access!</h1>

    <h2>Sorry, this page is off limits to users with your permission level.</h2>
{% endblock %}
