{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>DXPlanet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.css' %}">
    <style type="text/css">
        .no-fouc {
            display: none;
        }
    </style>
    <script type="text/javascript">
        document.documentElement.className = 'no-fouc';
    </script>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" /> {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dxplanet.css' %}"> {% block extra_css %} {# Override this in templates to add extra stylesheets #} {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}
    <div id="page-wrap">
        
            <div id="search-drop" class="dropdown">
                    <div id="search--marker" class="noview"></div>
                    <div id="search-form-wrapper">
                        <form action="/search/" method="get">
                            <input name="query" id="search-field" type="text">
                            <input type="submit" id="search-submit" value="submit">
                        </form>
                    </div>
                </div>
        <ul id="top-bar">
            <li id="menu-box">
                <a href="javascript:void(0)" id="menu-toggle" onclick="toggleNav()">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
            </li>
            <li id="search-box">
                <a href="javascript:void(0)" id="search-toggle" onclick="toggleSearchBar()">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </li>
            <li id="logo-box">
                <a href="/">
                    &nbsp;
                </a>
            </li>
            <li id="user-box">
                <a href="/login/">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
        <div id="canvas-wrap">
            <nav id="menu-box-nav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <h3 class="list-head">CATEGORIES</h3>
                <nav id="technology" class="nav-category">
                    <ul class="cat-list">
                        <h4 class="sublist-head">
                            <a href="#">TECHNOLOGY</a>
                        </h4>
                        <li class="cat-list-item tech-category">
                            <a href="#">IoT</a>
                        </li>
                        <li class="cat-list-item tech-category">
                            <a href="#">BIG DATA - ANALYTICS</a>
                        </li>
                        <li class="cat-list-item tech-category">
                            <a href="#">WIRELESS - MOBILITY</a>
                        </li>
                        <li class="cat-list-item tech-category">
                            <a href="#">AI - ML - COGNITIVE SYSTEMS</a>
                        </li>
                        <li class="cat-list-item tech-category">
                            <a href="#">STREAMING - INTERACTIVITY</a>
                        </li>
                        <li class="cat-list-item tech-category">
                            <a href="#">AR - VR</a>
                        </li>
                        <li class="cat-list-item tech-category">
                            <a href="#">ROBOTICS</a>
                        </li>
                        <li class="cat-list-item tech-category">
                            <a href="#">AUTONOMY - DRONES</a>
                        </li>
                        <li class="cat-list-item tech-category">
                            <a href="#">3D PRINT - ADDITIVE MANUFACTURE</a>
                        </li>
                        <li class="cat-list-item tech-category">
                            <a href="#">BLOCKCHAIN</a>
                        </li>
                    </ul>
                </nav>
                <nav id="smart-x" class="nav-category">
                    <ul class="cat-list">
                        <h4 class="sublist-head">
                            <a href="#">SMART X</a>
                        </h4>
                        <li class="cat-list-item smart-category">
                            <a href="#">CITIES</a>
                        </li>
                        <li class="cat-list-item smart-category">
                            <a href="#">BUILDINGS</a>
                        </li>
                        <li class="cat-list-item smart-category">
                            <a href="#">CAMPUS</a>
                        </li>
                        <li class="cat-list-item smart-category">
                            <a href="#">HOME</a>
                        </li>
                        <li class="cat-list-item smart-category">
                            <a href="#">VEHICLES</a>
                        </li>
                        <li class="cat-list-item smart-category">
                            <a href="#">TRANSPORT</a>
                        </li>
                        <li class="cat-list-item smart-category">
                            <a href="#">LOGISTICS</a>
                        </li>
                        <li class="cat-list-item smart-category">
                            <a href="#">INDUSTRY</a>
                        </li>
                        <li class="cat-list-item smart-category">
                            <a href="#">ENERGY</a>
                        </li>
                        <li class="cat-list-item smart-category">
                            <a href="#">HEALTHCARE</a>
                        </li>
                        <li class="cat-list-item smart-category">
                            <a href="#">MARKETING</a>
                        </li>
                        <li class="cat-list-item smart-category">
                            <a href="#">WEARABLES</a>
                        </li>
                        <li class="cat-list-item smart-category">
                            <a href="#">ENGINEERING</a>
                        </li>
                        <li class="cat-list-item smart-category">
                            <a href="#">PRODUCTS</a>
                        </li>
                    </ul>
                </nav>
            </nav>
            {% block content %}{% endblock %}
        </div>
    </div>
    <!-- <div id="user-box-modal" class="modal">
        <span onclick="document.getElementById('user-box-modal').classList.add('noview')" class="close" title="Close Login Modal">&times;</span>
        <div class="modal-inner">
            <img src="http://dxp1.imgix.net/dxp_logo3.png" width="225px" alt="DXPlanet Logo">
            <h3 id="login-label">Login</h3>

             todo login modal / django login view 
        </div>
    </div> -->
    {# Global javascript #}
    <script type="text/javascript" src="{% static 'js/dxplanet.js' %}"></script> {% block extra_js %} {# Override this in templates to add extra javascript #} {% endblock %}
</body>

</html>