* {
  box-sizing: border-box;
}
body {
  color: rgba(239, 233, 244,.95);
  top: 0;
  margin: 0;
  padding: 0;
  background-color: rgba(1, 22, 39,.95);
  font-family: 'Open Sans', sans-serif;
  box-shadow: inset 100px 100px 100px 40px rgba(0,0,0,.5);
}
.noview {
  display: none;
}

.page-header {
  margin-top: 0;
}
/* top */

#top-bar {
  background-color: rgba(27, 54, 112,.95);
  margin: .25em;
  height: 48px;
  width: 100%;
  position: relative;
  display: flex;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}
#logo-box {
  font-size: 1.35vw;
  height: 100%;
  width: 100%;
  margin: auto;
  /* margin: 0 80px 0 40px; */
}
#logo-box a {
  padding: .1em 0 .1em 0;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 200px;
  overflow:visible;
  background-image: url("http://dxp1.imgix.net/dxp_logo_semifinal2_tangelo_blue.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#logo-box img {
  pointer-events: none;
  width: 100%
}
#top-bar li a {
  color: rgb(253, 255, 252);
  margin: auto;
  display: block;
  text-decoration: none;
  position: relative;
}
#top-bar li a:hover {
  color: rgb(239, 233, 244);
}
#top-bar li a:active {
  color: rgb(255, 255, 255);
}
#top-bar li a:visited {
  color: rgb(57, 160, 237);
}
#top-bar li a i {
  width: 100%;
  padding: 1em;
}
#menu-box {
  float: left;
  width: 48px;
  height: 48px;
  padding-right: 0;
  margin-right: 0;
  border-right: 1px solid rgb(57, 160, 237);
}
#menu-box a {
  height: 100%;
  width: 100%;
}
#user-box {
  float: right;
  width: 48px;
  height: 48px;
}
#user-box a {
  height: 48px;
  width: 48px;
}
#search-box {
  float: left;
  width: 48px;
  height: 48px;
  padding-right: 0;
  margin-right: 0;
}
#search-box a {
  height: 100%;
  width: 100%;
}
#user-box a {
  float: right;
}

/* wrappers */

#page-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 1376px;
}
#canvas-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.show-nav #canvas-wrap {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}
.show-search {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* search */
#search--marker {
  width: 16px;
  height: 8px;
  border-style: solid;
  border-left-width: 8px;
  border-bottom-width: 8px;
  border-right-width: 8px;
  border-left-color: rgba(27, 54, 112,.95);
  border-bottom-color: rgb(255, 255, 255);
  border-right-color: rgba(27, 54, 112,.95);
  border-top-color: rgba(27, 54, 112,.95);
  position: absolute;
  z-index: 2;
  top: -10px;
  left: 64px;
}

#search-drop {
  float: right;
  width: 100%;
  height: 1.6rem;
  position: absolute;
  z-index: 2;
  top: 3rem;
  left: 100%;
  background-color: rgb(239, 233, 244);
  -webkit-transition: 500ms ease all;
  transition: 500ms ease all;
}

#search-form-wrapper {
  width: 100%;
  height: 100%;
}

#search-field {
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.6rem;
}

#search-submit {
  position: relative;
  top: -1.3rem;
  visibility: hidden;
}

/* side  */

#menu-box-nav {
  width: 300px;
  height: 100%;
  min-height: 800px;
  max-height: 1000px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: -300px;
  background-color: rgba(1, 12, 25,.97);
  padding: 1em;
  padding-top: 2em;
}

.list-head {
  color: rgb(239, 233, 244);
}
.cat-list {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.cat-list li {
  padding-left: .67em;
}
.cat-list-item a {
  padding: .67em auto auto 1.2em;
  text-decoration: none;
  font-size: 1.2em;
  color: rgb(249,139,0);
  display: block;
  transition: 0.3s;
}
.cat-list-item a, .offcanvas a:focus {
  color: rgb(239, 233, 244);
}

#menu-box-nav .closebtn {
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 3rem;
  right: 30px;
  font-size: 1.27em;
  margin-left: 50px;
}

/* content */
.recent-articles {
  padding: 0 2em 0 2em;
}
.article {
  margin: 0;
  padding: .67em;
  height: 100%;
}
.article-left > .article-content {
  color: rgb(1, 22, 39);
  background-color: rgba(239, 233, 244,.95);
}
.article-left > .article-meta {
  color: rgb(239, 233, 244);
}
.article-right > .article-content {
  color: rgb(1, 22, 39);
  background-color: rgba(239, 233, 244,.95);
}
.article-right > .article-meta {
  color: rgb(239, 233, 244);
}
 .article-heading, .article-headline, .article-author, .article-postdate {
  margin: 0;
}
.article-headline {
  width: auto;
  float: left;
}
.article-image {
  background: rgb( 1, 2, 1);
  padding-bottom: .12em;
  height: 50%;
  width: 100%;
}
.article-meta {
  width: auto;
  float: right;
  text-align: right;
  padding: .3em;
  padding-left: 0;
}
.article-content {
  width: auto;
  display: inline-block;
  font-size: .92em;
  color: rgba(1, 12, 25,.97);
  background-color: rgba(239, 233, 244,.95);
}
.top {
  position: relative;
  top: 0;
}
.bottom {
  position: relative;
  left: 0;
  bottom: 0;
}
.view-wrap {
  width: 320px;
  height: 230px;
  background-color: rgba(27, 54, 112,.95);
  margin: auto;
  margin-top: 4em;
}
.form-msgs {
  overflow: overlay;
  width: 100%;
  max-height: 60px;
  margin: auto;
}
.form-msgs p {
  text-align: center;
  margin: 0;
  padding: .3em;
}
.form-wrap {
  width: 275px;
  margin: auto;
  margin-top: 2em;
}
.view-wrap form {
  padding-top: 3em;
  width: 275px;
  margin: auto;
}
#form-btn {
  position: absolute;
  margin-top: 1.5em;
  height: 48px;
  width: 96px;
  left: 46.5%;
  border-width: 0;
  border-radius: 12px;
  -webkit-transition: translateX(-50%);
  -moz-transition: translateX(-50%);
  transition: translateX(-50%);
}
.error-- {
  background-color: rgb(249,59,2);
}
.unauth-- {
  background-color: rgb(249,139,0);
}

/* For mobile phones: */
 [class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
  .page-wrap {
    margin: 15vh 30vw 0 30vw;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  #top-bar li a i {
    font-size: 1.12em;
    padding: .76em;

  }
  #logo-box a {
    float: left;
    left: 1em;
    background-position: 0 50%;
  }
} 
