* {
  box-sizing: border-box;
}
body {
  top: 0;
  margin: 0;
  padding: 0;
}
#hero-box {
  width: 100%;
  height: 100%;
  background-image: url("https://dxp1.imgix.net/mobilesky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#top-boxes {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
#logo-box {
  font-size: 1.35em;
  width: 100%;
}
#logo-box a {
  padding: .2em 0 .2em 0;
  position: relative;
  width: 100%;
  max-width: 100px;
  margin: auto;
  overflow:visible;
}
#logo-box img {
  pointer-events: none;
  width: 100%
}
#top-boxes li {
  background-color: rgba(27, 54, 112,.5);
}
#top-boxes li a {
  margin: auto;
  display: block;
}
#top-boxes li a i {
  padding: 1em;
}
#menu-box a {
  height: 100%;
  width: 100%;
}
#user-box a {
  height: 100%;
  width: 100%;
}
#user-box a i {
  float: right;
}
#hero-overlay {
  margin: auto;
  padding: 2vw;
  width: 100%;
}
.rich-text p {
  color:rgb(253,255,252);
}
#hero-title {
  float: left;
}
#hero-tagline {
  float: right;
}
#hero-title p {
  font-size: 2em;
}
#hero-tagline p {
  font-size: 1.5em;
}
/* For mobile phones: */
 [class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  #hero-box {background-image: url("https://dxp1.imgix.net/earth2.jpg");}
} 
